.single-product{
    display: flex;
    flex-direction: row;
}

.image-content{
    width: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

.prod-content{
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.img-showcase{
    /* width: 500px; 
    height: 500px; */
    width: 100%;
    height: 700px;
    object-fit: fill;
}

.cart-button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /* margin: 10px; */
    background-color: #000;
    cursor: pointer;
}

.dropdown-qty{
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    padding: 2px;
    border-bottom: 1px solid black;
}